:root {
    --bg-clr-dark: #1F2937;
    --bg-clr-light: #FFF;
    --bg-clr-quote: #E5E7EB;

    --clr-light: #FFF;
    --clr-darklight: #E5E7EB;
    --clr-dark: #1F2937;

    --fs-regular: 1.125rem;
    --fs-logo: 1.5rem;
    --fs-grand: 2.25rem;
    --fs-title: 3rem;
    
    --fw-regular: 500;
    --fw-bold: 900;
    --fw-light: 300;
}

* {
    padding: 0;
    margin: 0;
}

#header, #hero, #info, #quote, #call {
    padding-left: 10rem;
    padding-right: 10rem;
}

#header, #hero, #footer {
    background-color: var(--bg-clr-dark);
}

#info {
    background-color: var(--bg-clr-light);
}

#quote {
    background-color: var(--bg-clr-quote);
}

#call {
    background-color: var(--bg-clr-light);
}

#header {
    display: flex;
}