@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,100&display=swap');

:root {
    --bg-clr-dark: #1F2937;
    --bg-clr-light: #FFF;
    --bg-clr-quote: #E5E7EB;

    --clr-light: #FFF;
    --clr-darklight: #E5E7EB;
    --clr-dark: #1F2937;
    --clr-blue: #3882F6;

    --fs-regular: 1.125rem;
    --fs-logo: 1.5rem;
    --fs-grand: 2.25rem;
    --fs-title: 3rem;
    
    --fw-light: 100;
    --fw-regular: 300;
    --fw-great: 500;
    --fw-bold: 900;
}

body {
    font-family: Roboto, sans;
}

* {
    padding: 0;
    margin: 0;
}

#header, #hero, #info, #quote, #call {
    padding-left: 15rem;
    padding-right: 15rem;
}

#header, #hero, #footer {
    background-color: var(--bg-clr-dark);
}

#info {
    background-color: var(--bg-clr-light);
}

#quote {
    background-color: var(--bg-clr-quote);
}

#call {
    background-color: var(--bg-clr-light);
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#header #header-logo {
    font-size: var(--fs-logo);
    font-weight: var(--fw-great);
    color: var(--clr-light);
}

#header #header-items {
    display: flex;
    gap: 1rem;
}

#header #header-items a {
    text-decoration: none;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-darklight);
}

#hero {
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#hero #hero-text {
    flex: 1;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-darklight);
}

#hero #hero-text #hero-button {
    background-color: var(--clr-blue);
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--bg-clr-light);
    font-size: var(--fs-regular);
    font-weight: var(--fw-great);
}

#hero #hero-text button {
    margin-top: 1rem;
    border: 0;
}

#hero #hero-text h1 {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}

#hero #hero-image {
    flex: 1;
    background-color: var(--bg-clr-quote);
}

#info {
    text-align: center;
    padding-bottom: 8rem;
}

#info #info-title {
    font-size: var(--fs-grand);
    font-weight: var(--fw-bold);
    padding: 3rem;
}

#info #info-items {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#info #info-items .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    text-align: center;
    max-width: min-content;
}

#info #info-items .item-image {
    border: solid var(--clr-blue) .25rem;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}

#info #info-items .item-text {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-dark);
}

#quote {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#quote #quote-text {
    font-size: var(--fs-grand);
    font-weight: var(--fw-light);
    font-style: italic;
}

#quote #quote-author {
    font-size: var(--fs-regular);
    font-weight: var(--fw-great);
    text-align: end;
    margin-top: 1rem;
}

#call {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#call #call-box {
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--clr-blue);
    border-radius: .5rem;
}

#call #call-text {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--bg-clr-light);
}

#call #call-text h1 {
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
}

#call #call-button {
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: solid var(--bg-clr-light) .15rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--bg-clr-light);
    font-size: var(--fs-regular);
    font-weight: var(--fw-great);
}

#call button {
    background-color: transparent;
    border: 0;
    border-radius: .5rem;
}

#footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: var(--clr-darklight);
}